{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="do-you-pay-towards-car.html">Back</a>

      <form action="does-employer-pay-fuel" method="post" class="form">

        <div class="form-group inline">
          <fieldset data-required data-error="Select yes if you pay anything towards the car">
            <h1 class="heading-large">Did you pay anything after tax, towards the car?</h1>
            <span>This includes any optional extras.</span>
            <legend id="pay-towards-car"></legend>
            <div class="multiple-choice" data-target="ptc-yes-reveal">
              <input id="ptc-yes" type="radio" name="payanythingforcar-group" value="Yes" {{ checked( "payanythingforcar-group", "Yes")}}>
              <label for="radio-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="ptc-no" type="radio" name="payanythingforcar-group" value="No" {{ checked( "payanythingforcar-group", "No")}}>
              <label for="radio-2">No</label>
            </div>

          </fieldset>
          <div class="panel panel-border-narrow js-hidden" id="ptc-yes-reveal">
            <!-- <fieldset data-required data-error="Enter how much you paid of your salary, before tax, towards your car"> -->
            <label class="form-label" for="ptc-yes">How much?</label>
            <span class="form-hint">The most we can use when working out your tax is £5,000 even if you paid more.</span>
            <br>
            <span>£</span>
            <input class="form-control short-text-field" name="ptc-yes" type="text" id="ptc-yes">
            <!-- <span>&nbsp;a year</span> -->
          </div>
        <!-- </fieldset> -->
        </div>

        </fieldset>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
    </div>


    </form>




  </div>
  </div>



</main>

{% endblock %}
