{#
    {{ macroPageTitle.pageTitle(pageHeading, pageSection) }}
#}
{% macro pageTitle (
    pageHeading ="",
    pageSection ="")
    %}{% if pageHeading %}{{ pageHeading }}{% endif %}
    {% if pageSection %} &ndash; {{ pageSection }} {% endif %}&ndash; GOV.UK
{% endmacro %}