{% extends "layout.html" %}

{% block page_title %}
    Government gatweway account created - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/ras/phase_banner_research.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h2 class="heading-large">Government Gateway account created</h2>
            </div>

            <div class="panel panel-border-wide">
                <h3 class="heading-medium">User ID: 454356787654</h3>
            </div>
            <p>You have created a Government Gateway account. You can now register for anti-money laundering supervision.</p>
            <p><a href="#">Print your User ID</a></p>

            {{ macroAnchor.anchor( href = "../business-structure" ) }}

        </div><!-- / column two thirds -->
    </div><!-- / grid row -->

</main>
{% endblock %}
