{% extends "layout.html" %}

{% block page_title %}
    Create a government gateway account - Anti-money laundering registration - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/ras/phase_banner_research.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">Create a Government Gateway account</h1>

            <form method="post">
                <fieldset>
                    <legend class="visually-hidden">Enter your details to create your government gateway account</legend>
                    <div class="form-group">
                        <label class="form-label" for="userId">Full name</label>
                        <input class="form-control" type="text" id="userId" name="userId" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email address</label>
                        <input class="form-control" type="email" id="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password
                            <span class="form-hint">
                                Your password must:
                                <ul class="list list-bullet">
                                    <li>be between 8 and 12 characters (letters and numbers only)</li>
                                    <li>contain at least one letter (a-z)</li>
                                    <li>contain at least one number (0-9)</li>
                                    <li>not contain the word 'password'</li>
                                </ul>
                            </span>
                        </label>
                        <input class="form-control" type="password" id="password" name="password" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="confirm-password">Confirm your password</label>
                        <input class="form-control" type="password" id="confirm-password" name="confirm-password" required />
                    </div>

                    {{ macroAnchor.anchor( href = "confirmation" ) }}

                </fieldset>
            </form>

        </div><!-- / column two thirds -->
    </div><!-- / grid row -->

</main>
{% endblock %}
