{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <a class="link-back" href="check-your-answers">Back</a> -->

        <div class="govuk-box-highlight">
          <p class="font-large">Your information has been sent and your record has been updated</p>
        </div>

        <p>
          HM Revenue and Customs will send you a tax code notification (P2) letter if your tax code has changed.
        </p>
        <p>
          <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" target="_blank">Contact HMRC</a> or your employer if you think your tax code for the 2016 to 2017 tax year was wrong.
        </p>

        <a class="button" href="/" role="button">See if your tax has changed</a>
        <br>
        <br>
        <p>
          <a href="../sprint3/details">Check or update your company car tax details</a>
        </p>

    </div>

  </div>

</main>


{% endblock %}
