{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="../sprint3/details">Back</a>

      <h1 class="heading-xlarge">Remove your company car</h1>
      <h1 class="heading-medium">Your old car</h1>
      <p class="heading-small">Vauxhall Corsa provided by Accenture</p>
      <!-- <h1 class="heading-medium">Vauxhall Corsa provided by Accenture</h1> -->
      <!-- <form action="3get_car_date" method="post" class="form"> -->

      <form action="fuel-benefit-stop-date" method="post" class="form">
        <div class="form-group">
          <fieldset data-required data-error="Enter the date you gave the car back">
            <h1 class="heading-large">When did you give the car back?</h1>
            <p class="form-hint" id="reg-date-hint">For example, 12 6 2017</p>
            <!-- <p class="form-hint" id="reg-date-hint">For example, 12 06 2017</p> -->
            <!-- <p class="form-hint" id="dob-hint">Check the <a href="https://www.gov.uk/get-vehicle-information-from-dvla">registration date</a>.</p> -->

            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="back-day">Day</label>
                <input class="form-control" id="backday" name="back-day" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="{{data['back-day']}}"></input>
                <input type="hidden" id="backdaystring" name="back-day-string"/>
              </div>

              <div class="form-group form-group-month">
                <label for="back-month">Month</label>
                <input class="form-control" id="backmonth" name="back-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{data['back-month']}}"></input>
                <input type="hidden" id="backmonthstring" name="back-month-string"/>
              </div>

              <div class="form-group form-group-year">
                <label for="back-year">Year</label>
                <input class="form-control" id="backyear" name="back-year" type="text" pattern="[0-9]*" min="0" max="2016" value="{{data['back-year']}}"></input>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>

  </div>

</main>

<script type="text/javascript">

function evaluateDate(userInput) {

  var monthString = ''

  switch (userInput) {
    case '1':
    case '01':
      monthString = 'January'
      break
    case '2':
    case '02':
      monthString = 'February'
      break
    case '3':
    case '03':
      monthString = 'March'
      break
    case '4':
    case '04':
      monthString = 'April'
      break
    case '5':
    case '05':
      monthString = 'May'
      break
    case '6':
    case '06':
      monthString = 'June'
      break
    case '7':
    case '07':
      monthString = 'July'
      break
    case '8':
    case '08':
      monthString = 'August'
      break
    case '9':
    case '09':
      monthString = 'September'
      break
    case '10':
      monthString = 'October'
      break
    case '11':
      monthString = 'November'
      break
    case '12':
      monthString = 'December'
      break
  }
  $('#backmonthstring').val(monthString)
}

$( document ).ready(function() {
    evaluateDate($( "#backmonth" ).val())
})

$( "#backmonth" ).on( "input", function() {
  var userInput = $(this).val()
  evaluateDate(userInput)
})

</script>

<script type="text/javascript">

function evaluateDay(userInput) {

  var backString = ''

  switch (userInput) {
    case '01':
      backString = '1'
      break
    case '02':
      backString = '2'
      break
    case '03':
      backString = '3'
      break
    case '04':
      backString = '4'
      break
    case '05':
      backString = '5'
      break
    case '06':
      backString = '6'
      break
    case '07':
      backString = '7'
      break
    case '08':
      backString = '8'
      break
    case '09':
      backString = '9'
      break
    default:
      backString = ''
      break
  }
  $('#backdaystring').val(backString)
}

$( document ).ready(function() {
    evaluateDay($( "#backday" ).val())
})

$( "#backday" ).on( "input", function() {
  var userInput = $(this).val()
  evaluateDay(userInput)
})

</script>

{% endblock %}
