{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Relief at source (RAS) look up service</h1>


            <p>Check a pension scheme member’s residency status for relief at source.</p>
            <p>Prototype handed over to live services in September 2018. Further iterations on this service will be within this <a href="https://github.com/hmrc/ddcn-live-services-prototype" target="_blank">DDCN Live Services Prototype</a> only.</p>

            <p><a href="member-name-1-year" class="button">Get started</a></p>

             <h2 class="heading-medium">Page by page breakdown</h2>
            <p>Links to every page.</p>
            <p><a href="listings" class="button">Continue</a></p>




            <h2 class="heading-medium">Documentation</h2>
            <ul class="list list-bullet">
                <!-- <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li> -->
                <li><a href="https://github.com/hmrc/childcare-service-prototype">GitHub reposistory for this service</a></li>
            </ul>




        </div>
  </div>
</main>

{% endblock %}
