{% extends "layout.html" %} {% set pageHeading = "Choose an option to get a residency status" %} {% block page_title %} {{ macroPageTitle.pageTitle(pageHeading,
serviceName) }} {% endblock %} {% block content %} {% set schemeMember = data['first--name-first'] + ' ' + data['last--name-last']%}
{% set pageHeading = "Choose an option to get a residency status" %}

<main id="content" role="main">

	<div style="margin-bottom: 8em;">

		<div class="phase-banner-beta">
			<p>
				<strong class="phase-tag">BETA</strong>
				<span>This is a new service – your
					<a href="#">feedback</a> will help us to improve it.</span>
			</p>
		</div>

		{{destroy["index"]}}

		<div class="grid-row">

			<div class="column-two-thirds column-minimum">

				{% include "includes/ras/errors.html" %}

				<header class="page-header">
				<h1 class="heading-xlarge" aria-hidden="true">{{pageHeading}}</h1>
				</header>

				<ul class="task-list">
					<li>
					<h2 class="task-list-section">
					Single member
					</h2>
					<ul class="task-list-items" style="padding-left: 0;">
						<li class="task-list-item">
							<a class="task-name" href="#" aria-describedby="eligibility-completed">
							Enter a member's details</a>
						</li>
					</ul>

					</li>

					<li>
					<h2 class="task-list-section">
					Multiple members
					</h2>
					<ul class="task-list-items" style="padding-left: 0;">
						<li class="task-list-item" style="border-bottom: none;" >
							<a class="task-name" href="xp3_6-csv-results-1-year" aria-describedby="eligibility-completed">
							Download your results</a>
							<strong class="task-completed" id="file-ready">File Ready</strong>
						</li>
						<li class="task-list-item">
							<p style="margin-top: .2em; margin-bottom: 0;">Your results are available to download until Sunday 14 April 2018 at 1:42pm.</p>
						</li>
					</ul>

				</ul>

			</div>
		</div>

		{% include "includes/ras/contactb.html" %}

</main>
{% endblock %}
