{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">



      <a class="link-back" href="12private_use_fuel.html">Back</a>

      <h1 class="heading-large">Do you pay anything to your employer for private use of the car?</h1>

      <form action="check-your-answers" method="post" class="form">
        <div class="form-group inline">
          <fieldset data-required data-error="Select yes if you paid anything to your employer for private use of the car">
            <legend></legend>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="private-use-group" value="Yes" {{ checked("private-use-group", "Yes")}}>
              <label for="radio-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="private-use-group" value="No" {{ checked("private-use-group", "Yes")}}>
              <label for="radio-2">No</label>
            </div>
        </div>
        </fieldset>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
    </div>
    </form>

  </div>
  </div>


</main>

{% endblock %}
