{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="check-your-answers">Back</a>

        <div class="govuk-box-highlight">
          <p class="font-large">Your information has been sent and your record has been updated</p>
        </div>

        <p>
          HM Revenue and Customs (HMRC) will contact you if your tax code has changed.
        </p>
        <p>
          <a href="#">Contact HMRC</a> or your employer if you think your tax code for the 2016 to 2017 tax year was wrong.
        </p>

        <a class="button" href="/" role="button">Continue</a>


    </div>

  </div>

</main>


{% endblock %}
