<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="display:none;">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There is a problem</h2>
    
    <ul class="list error-summary-list">
        <li><a id="error-1" href="#choose-option-error"></a></li>
        <li><a id="error-2" href="#choose-option-error"></a></li>
        <li><a id="error-3" href="#choose-option-error"></a></li>
        <li><a id="error-4" href="#choose-option-error"></a></li>
        <li><a id="error-5" href="#choose-option-error"></a></li>
        <li><a id="error-6" href="#choose-option-error"></a></li>
        <li><a id="error-7" href="#choose-option-error"></a></li>
    </ul>
</div>