<div class="error-summary" style="display:none;" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There has been a problem uploading your file</h2>

    <ul class="list error-summary-list">
        <li><a id="fileNotCSV" href="#upload-error" data-focuses="upload-error">File must be a CSV</a></li>
        <li><a id="chooseFile" href="#upload-error" data-focuses="upload-error">Select a CSV</a></li>
        <li><a id="emptyCSV" href="#upload-error" data-focuses="upload-error">This CSV is empty. Upload a CSV with data in it</a></li>
        <li><a id="problemUploading" href="#upload-error" data-focuses="upload-error">There was a problem uploading your file. Please try again</a></li>
        <li><a id="fileTooLarge" href="#upload-error" data-focuses="upload-error">CSV must be smaller than 2MB</a></li>
        <li>
        <a id="quotationMarks" href="#upload-error" data-focuses="upload-error">CSV cannot contain quotation marks. Open the CSV in a text editor to check it.</a>
        </li>
    </ul>

</div>