{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">DDCN Live Services
                <span class="secondary-heading">{{releaseVersion}}</span>
            </h1>{{releaseVersion | log }}

            <p>Repository for all current services looked after by the live service team currently using version 6.30 or lower of the <a href="https://github.com/alphagov/prototype-kit/releases">GOV.UK Prototype Kit</a>.</p>

            <!-- ****************************************************************** -->
            <h2 class="heading-medium">HMRC service prototypes</h2>
            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="ras/">Relief at Source (RAS)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Check a pension scheme member's residency status for relief at source</p>
                    <p>Live date: 12 September 2018</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="marallow/">Marriage Allowance (TAMC)</a>
                </div>
                <div class="column-two-thirds">
                    <p>Marriage Allowance lets you transfer £1,190 of your Personal Allowance to your husband, wife or civil partner - if they earn more than you.</p>
                    <p>Live date: XXXXXX 2018</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="companycar/">Company Car (CoCar)</a>
                </div>
                <div class="column-two-thirds">
                    <p>Tell HMRC about changes to your company car that happen from 6 April 2017 to 5 April 2018.</p>
                    <p>Live date: XXXXXX 2018</p>
                </div>
            </div>



            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Country by Country (CbC) – in the process of being handed over</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Marriage Allowance lets you transfer £1,190 of your Personal Allowance to your husband, wife or civil partner - if they earn more than you.</p>
                </div>
            </div>



            <!-- ****************************************************************** -->


            <!-- ****************************************************************** -->
            <h2 class="heading-medium">Needs updating</h2>
            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Alcohol Wholesale Registration Scheme (AWRS)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Annual Tax for Enveloped Dwellings (ATED) includes Agent Client Mandate and Business Customer Matching</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-one-third">
                     <p><a href="#">Charities</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Check your State Pension (CYSP)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Medical Benefit (MedBen)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Employment related securities (ERS)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Guaranteed Minimum Pension (GMP)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Personal tax account (PTA)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>






            <!-- ****************************************************************** -->


            <!-- ****************************************************************** -->
            <h2 class="heading-medium">Needs prototype finding</h2>
            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Annual Tax Summary (ATS)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Class 2 National Insurance (C2NI)</a>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>



            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Corporation Tax UTR (CTUTR) – in the process of being handed over</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Employment intermediaries</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-one-third">
                    <p><a href="#">Friends and Family (Trusted helpers)</a></p>
                </div>
                <div class="column-two-thirds">
                    <p>Service description to help differentiate</p>
                </div>
            </div>




            <!-- ****************************************************************** -->


                <!--





                <div class="column-full">
                    <p><a href="#">Feedback survey</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>




                <div class="column-full">
                    <p><a href="#">National Minimum Wage (Social Care Compliance Scheme)</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>

                <div class="column-full">
                    <p><a href="#">P800 (Tax calculation)</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>
                <div class="column-full">
                    <p><a href="#">Payrolling benefits in kind (PBIK)</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>
                <div class="column-full">
                    <p><a href="#">Pension Annual Allowance Calculator (PAAC)</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>


                <div class="column-full">
                    <p><a href="s-repayments/">Repayments</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>
                <div class="column-full">
                    <p><a href="#">Tax credits service (TCS) – with tailored services</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div>
                <div class="column-full">
                    <p><a href="#">Tax estimation service (TES) – with tailored services</a>
                    <span class="break">Service description to help differentiate</span></p>
                </div> -->



            <h2 class="heading-medium">Documentation</h2>

            <ul class="list list--bullet">
                <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
                <li><a href="https://design-system.service.gov.uk">GOV.UK Design System</a></li>
                <li><a href="https://github.com/hmrc/childcare-service-prototype">GitHub reposistory for this service</a></li>
            </ul>


    </div>
  </div>
</main>

{% endblock %}


