{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="car-list-price.html">Back</a>



        <form action="did-you-pay-after-tax" method="post" class="form">
          <div class="form-group inline">
            <fieldset data-required data-error="Select yes if you paid part of your salary towards your car">
              <h1 class="heading-large">Did you pay anything before tax, towards the car?</h1>
              <span>This is also known as salary sacrifice.</span>
              <legend id="salary-sacrifice-choice"></legend>
              <div class="multiple-choice" data-target="ss-yes-reveal">
                <input id="ss-yes" type="radio" name="salarysacrifice-group" value="Yes" {{ checked( "salarysacrifice-group", "Yes")}}>
                <label for="radio-1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="ss-no" type="radio" name="salarysacrifice-group" value="No" {{ checked( "salarysacrifice-group", "No")}}>
                <label for="radio-2">No</label>
              </div>

            </fieldset>
            <div class="panel panel-border-narrow js-hidden" id="ss-yes-reveal">
              <!-- <fieldset data-required data-error="Enter how much you paid of your salary, before tax, towards your car"> -->
              <label class="form-label" for="ss-yes">How much a year?</label>
              <span>£</span>
              <input class="form-control" name="ss-yes" type="text" id="ss-yes">
            </div>
          <!-- </fieldset> -->
          </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>
  </div>



</main>

{% endblock %}
