{% extends "layout.html" %}

{% block page_title %}
The childcare service
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/marallow/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Page by page breakdown</span>
                    Company car tax prototype
                </h1>


            <ul class="list list-bullet">
                <li><a href="#">Page item </a></li>

            </ul>






                <h2 class="heading-medium">Data Session</h2>
                <ul class="list-bullet">
                    <li><a href="data">Current data been stored within the service</a></li>
                </ul>

        </div>
    </div>
</main>
{% endblock %}
