{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="when-did-you-give-car-back">Back</a>

      <h1 class="heading-xlarge">Replace your company car</h1>
      <h1 class="heading-medium">Your old car</h1>
      <p class="heading-small">Vauxhall Corsa provided by Accenture</p>
      <!-- <h1 class="heading-medium">Vauxhall Corsa provided by Accenture</h1> -->
      <!-- <form action="when-did-you-get-car" method="post" class="form"> -->

      <form action="select-employer" method="post" class="form">
        <div class="form-group inline">
          <fieldset data-required data-error="Enter the date the fuel benefit for this car stopped.">
            <h1 class="heading-large">When did the fuel benefit for this car stop?</h1>

            <legend id="fuel-benefit-stop-choice"></legend>
            <div class="multiple-choice">
              <input id="fb-yes" type="radio" name="fuel-benefit-group" value="It stopped when you gave the car back" {{ checked( "fuel-benefit-group", "Yes")}}>
              <label for="radio-1">It stopped when you gave the car back</label>
            </div>
            <div class="multiple-choice" data-target="fb-yes-reveal">
              <input id="fb-no" type="radio" name="fuel-benefit-group" value="It stopped on" {{ checked( "fuel-benefit-group", "No")}}>
              <label for="radio-2">It stopped on...</label>
            </div>
          </fieldset>


          <br>
          <div class="panel panel-border-narrow js-hidden" id="fb-yes-reveal">
            <span class="form-hint">For example, 12 6 2017</span>
            <br>
            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="back-day">Day</label>
                <input class="form-control" id="fbstopday" name="fb-stop-day" type="text" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint" value="{{data['fb-stop-day']}}"></input>
                <input type="hidden" id="fbdaystring" name="fb-day-string"/>
              </div>

              <div class="form-group form-group-month">
                <label for="stop-month">Month</label>
                <input class="form-control" id="stopmonth" name="stop-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{data['stop-month']}}"></input>
                <input type="hidden" id="stopmonthstring" name="stop-month-string"/>
              </div>

              <div class="form-group form-group-year">
                <label for="back-year">Year</label>
                <input class="form-control" id="fbstoppedyear" name="fb-stopped-year" type="text" pattern="[0-9]*" min="0" max="2016" value="{{data['fb-stopped-year']}}"></input>
              </div>

            </div>
          </div>
        <!-- </fieldset> -->
        </div>




        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>

  </div>

</main>



{% endblock %}
